    {% extends 'blog/base.html' %}

{% block content %}
    {% if post.published_date %}
        <div class="post">
            <h2 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <p class="post-published-date">published: {{ post.published_date }}</p>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}